<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
 {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blogpost/style.css' %}">
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--这里用url 来代替直接写的连接，这样子可以实现更高效的替换 -->
        <li><a href="{% url 'blogpost:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>